/* Variables */
/* Mixins */
* {
  margin: 0;
  padding: 0; }

html,
body {
  height: 100%;
  font-family: 'Quicksand', sans-serif;
  color: #000; }

body {
  margin: 0;
  padding: 0; }

.container {
  width: 80%;
  margin: 0 auto; }

.text-center {
  text-align: center; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.b-a, .bar, .bar:before, .bar:after {
  transition: all .25s;
  content: "";
  position: absolute;
  right: 0;
  height: 2px;
  width: 30px;
  border-radius: 15px;
  background-color: #000; }

.menu-collapsed {
  transition: all .25s;
  position: fixed;
  margin-top: 0;
  top: 10px;
  right: 9px;
  height: 36px;
  width: 36px;
  z-index: 9999;
  cursor: pointer; }
  .menu-collapsed ul {
    transition: all 0s;
    position: fixed;
    left: -9000px; }

.bar {
  position: fixed;
  right: 12px;
  top: 24px; }
  .bar:before {
    top: -8px; }
  .bar:after {
    top: 8px; }

.b-a-expanded, .menu-expanded .bar:before, .menu-expanded .bar:after {
  transition: all .25s;
  top: -0px; }

.menu-expanded {
  transition: all .25s;
  text-align: center;
  line-height: 200px;
  height: 100%;
  width: 100%;
  border-radius: 0px;
  margin-top: 0;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.85); }
  .menu-expanded ul {
    transition: all 0s;
    position: relative;
    left: 0;
    z-index: 2; }
    .menu-expanded ul li {
      list-style-type: none !important; }
  .menu-expanded ul:-webkit-any-link {
    list-style-type: none !important; }
  .menu-expanded a {
    transition: all .15s;
    text-decoration: none;
    font-size: 2em;
    padding: 5px;
    color: #fff; }
    .menu-expanded a:hover {
      transition: all .15s;
      letter-spacing: 2px;
      border: 1px solid rgba(255, 255, 255, 0.15); }
  .menu-expanded .bar {
    background-color: transparent;
    transition: all .25s; }
    .menu-expanded .bar:before {
      transform: rotate(45deg); }
    .menu-expanded .bar:after {
      transform: rotate(-45deg); }

h1 {
  font-size: 3em;
  text-align: center;
  line-height: 150px;
  font-family: 'Quicksand', sans-serif;
  font-weight: 300;
  padding: 100px 0px 0px 0px; }

h2 {
  font-size: 20px; }

p {
  line-height: 20px; }

.bold {
  font-weight: 1000; }

.row {
  display: inline-block; }

.intro {
  background: url(../img/whiteMountains.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  color: #000; }

.title {
  font-size: 50px;
  line-height: 50px;
  padding: 10px; }

.slide {
  background-color: #4C6663;
  width: 100%;
  height: 61%;
  z-index: 100; }

.portfolio {
  background-color: #fff;
  color: #000; }

.resume {
  background-color: #173753;
  position: relative;
  z-index: 100;
  text-align: center; }
  .resume a {
    color: #fff;
    padding: 2% 42%;
    text-decoration: none;
    display: inline-block;
    overflow-x: hidden; }

.resume:hover {
  background-color: #6DAEDB; }

.bottom {
  color: #fff;
  background-color: #333;
  width: 100%; }
  .bottom p {
    font-size: 16px;
    float: left; }
  .bottom li {
    display: inline-block; }

.skills {
  position: relative;
  height: 300px;
  z-index: 100; }
  .skills .skill_section {
    background-color: #FFF;
    float: left;
    height: 340px;
    width: 33.333333%; }
    .skills .skill_section p {
      padding: 20px 35px;
      line-height: 30px;
      font-size: 20px; }
    .skills .skill_section h2 {
      padding-top: 20px; }
    .skills .skill_section i {
      padding-top: 20px; }
  .skills #mid {
    background-color: #DFDFDF; }

hr {
  border: 0;
  height: 1px;
  background: #333;
  background-image: linear-gradient(to right, #ccc, #333, #ccc);
  max-width: 50%;
  margin: 10px auto; }

.aboutMe {
  background-image: url(../img/views.jpg);
  background-size: cover;
  background-position: center;
  color: #fff;
  padding: 50px;
  position: relative;
  z-index: 100; }

footer {
  z-index: 100;
  background-color: #333;
  color: #fff;
  overflow: auto; }
  footer .footerLeft {
    width: 50%; }
    footer .footerLeft p {
      float: left;
      padding: 15px 10px; }
  footer ul.connect {
    margin-left: 50%;
    list-style: none;
    display: inline-block;
    text-align: center;
    float: right; }
    footer ul.connect li {
      display: inline-block;
      padding: 10px; }
      footer ul.connect li i {
        color: #fff; }
      footer ul.connect li i:hover {
        color: #6DAEDB; }

.break {
  background: url(../img/code.jpeg);
  background-size: cover;
  background-position: center; }
  .break .fa {
    color: #fff;
    background-color: #343434;
    border-color: #343434;
    -webkit-border-radius: 15%;
    -moz-border-radius: 15%;
    -ms-border-radius: 15%;
    border-radius: 15%;
    padding: 10px;
    margin: 10px; }

.col {
  float: left;
  margin: 40px 40px;
  padding: 35px; }
  .col p {
    color: #fff;
    position: fixed;
    left: 0; }

.panel {
  height: 55%;
  width: 100%; }
  .panel a {
    color: #2F97C1; }
  .panel a:hover {
    color: #224870; }

.panelOne {
  background-color: #fff;
  z-index: 0; }
  .panelOne .title {
    font-size: 30px;
    text-align: center;
    margin: 30px auto; }

.panelTwo {
  background-color: #fff;
  z-index: 0; }

.panelThree {
  background-color: #fff;
  z-index: 0; }

.panelFour {
  background-color: #fff;
  z-index: 0; }

.leftCol {
  width: 50%;
  float: left; }
  .leftCol img {
    padding-left: 100px;
    width: 55%; }

.rightCol {
  margin-left: 50%; }
  .rightCol img {
    width: 55%;
    padding-left: 100px; }

.description {
  padding: 50px 75px; }
  .description h3 {
    font-size: 36px;
    text-align: center;
    margin: 30px auto;
    z-index: 9999; }
  .description p {
    font-size: 20px;
    line-height: 25px;
    text-align: center; }

#phone img {
  width: 30%;
  margin-left: 10%; }

/* Mobile */
@media screen and (max-width: 480px) {
  h1 {
    line-height: 50px;
    font-size: 40px;
    margin: 0;
    padding: 150px 0px 10px 0px; }

  .intro h2 {
    font-size: 18px; }

  .menu-expanded {
    transition: all .25s;
    text-align: center;
    line-height: 100px;
    height: 100%;
    width: 100%;
    border-radius: 0px;
    margin-top: 0;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.85); }
    .menu-expanded ul {
      transition: all 0s;
      position: relative;
      left: 0;
      z-index: 2;
      padding: 0; }
      .menu-expanded ul li {
        list-style-type: none !important; }
    .menu-expanded ul:-webkit-any-link {
      list-style-type: none !important; }
    .menu-expanded a {
      transition: all .15s;
      text-decoration: none;
      font-size: 2em;
      padding: 5px;
      color: #fff; }
      .menu-expanded a:hover {
        transition: all .15s;
        letter-spacing: 2px;
        border: 1px solid rgba(255, 255, 255, 0.15); }

  .leftCol {
    padding: 10px 0 0 10px; }
    .leftCol img {
      width: 80%;
      padding: 0px; }

  .rightCol {
    padding: 10px 0 0 10px; }
    .rightCol img {
      width: 80%;
      padding: 60px 0px 0px 20px; }

  .description {
    padding: 0; }
    .description h3 {
      font-size: 16px;
      margin: 10px 0px 0px 0px; }
    .description p {
      font-size: 10px;
      line-height: 15px;
      text-align: center;
      padding: 5px 0px; }

  #phone img {
    width: 30%;
    padding: 15% 25%; }

  .skills .skill_section {
    width: 100%;
    float: none;
    margin: 0;
    padding: 0px; }

  .col {
    margin: 15px 0px;
    padding: 0;
    width: 33%; }
    .col p {
      font-size: 16px; }

  .break {
    position: relative;
    top: 145%;
    width: 100%;
    height: 25%; }
    .break .fa-5x {
      font-size: 16px; }

  .row {
    width: 100%; }

  footer {
    bottom: -145%;
    position: relative; }
    footer ul.connect {
      margin: 0px; }

  .resume a {
    width: 100%;
    padding: 15px 0px; } }
@media screen and (max-width: 321px) {
  h1 {
    line-height: 30px;
    font-size: 35px; }

  .intro {
    height: 110%;
    width: 100%; }
    .intro h2 {
      font-size: 16px; }

  .skills .skill_section {
    font-size: 10px; }

  .break {
    top: 190%;
    position: relative; }

  .col p {
    font-size: 12px; }

  footer {
    bottom: -190%; }

  .description h3 {
    font-size: 14px; }

  .resume a {
    width: 100%;
    padding: 15px 0px; } }
@media screen and (max-width: 361px) {
  .skills .skill_section {
    font-size: 10px; }

  .resume a {
    width: 100%;
    padding: 15px 0px; } }

/*# sourceMappingURL=style.css.map */
