
/* Variables */
$iconBG: #343434;
$icon: #fff;
$ResumeHover: #6DAEDB;
$ResumeBG: #173753;
$work: #2F97C1;
$workHover: #224870;


/* Mixins */
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}
*{
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
  font-family: 'Quicksand', sans-serif;
  color: #000;
}
body{
  margin: 0;
  padding: 0;
}
.container{
  width: 80%;
  height: 100%;
  margin: 0 auto;
}
.text-center{text-align: center;}
.text-left{text-align: left;}
.text-right{text-align: right;}
.b-a {
  transition: all .25s;
  content: "";
  position: absolute;
  right: 0;
  height: 2px;
  width: 30px;
  border-radius: 15px;
  background-color: #000;
}
.menu-collapsed {
  transition: all .25s;
  position: fixed;
  margin-top: 0;
  top: 10px;
  right: 9px;
  height: 36px;
  width: 36px;
  z-index: 9999;
  cursor: pointer;
  ul {
    transition: all 0s;
    position: fixed;
    left: -9000px;
  }
}
.bar {
  @extend .b-a;
  position: fixed;
  right: 12px;
  top: 24px;
  &:before {
    @extend .b-a;
    top: -8px;
  }
  &:after {
    @extend .b-a;
    top: 8px;
  }
}
.b-a-expanded {
  transition: all .25s;
  top: -0px;
}
.menu-expanded {
  transition: all .25s;
  text-align: center;
  line-height: 200px;
  height: 100%;
  width: 100%;
  border-radius: 0px;
  margin-top: 0;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.85);
  ul {
    transition: all 0s;
    position: relative;
    left: 0;
    z-index: 2;
    li{
      list-style-type: none !important;
    }
  }
  ul:-webkit-any-link{
      list-style-type: none !important;
    }
  a {
    transition: all .15s;
    text-decoration: none;
    font-size: 2em;
    padding: 5px;
    color: #fff;
    &:hover {
      transition: all .15s;
      letter-spacing: 2px;
      border: 1px solid rgba(255, 255, 255, .15);
    }
  }
  .bar {
    background-color: transparent;
    transition: all .25s;
    &:before {
      @extend .b-a-expanded;
      transform: rotate(45deg);
    }
    &:after {
      @extend .b-a-expanded;
      transform: rotate(-45deg);
    }
  }
}
h1 {
  font-size: 3em;
  text-align: center;
  line-height: 150px;
  font-family: 'Quicksand', sans-serif;
  font-weight: 300;
  padding: 100px 0px 0px 0px;
}
h2{
  font-size: 20px;
}
p {
  line-height: 20px;
}
.bold{
  font-weight: 1000;
}
.row{
  display: inline-block;
}
.intro{
  background: url(../img/whiteMountains.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  color: #000;
}
.title{
  font-size: 50px;
  line-height: 50px;
  padding: 10px;
  margin: 20px 0px;
}
.portfolio{
  background-color: #fff;
  height: 275%;
  color: #000;
  img{
    height: 50%;
    width: 75%;
  }
  .work{
    line-height: 20px;
    margin: 500px 0px;
    height: 100%;
    h6{
      font-size: 30px;
      margin: 15px;
    }
  }
}
#top{margin-top: 100px;}
#bottom{margin-bottom: 150px;}
.slide{
  position: absolute;
  width: 615px;
  left: 20px;
  top: 20px;
  background-image: url(http://kids.nationalgeographic.com/content/dam/kids/photos/animals/Birds/A-G/emperor-penguin-group-snow.jpg);
  .current{
    opacity: 1;
  }
}
#jgames{
  background-image: url(../img/jgames.png);
  background-color: #000;
  width: 460px;
  height: 260px;
  background-repeat: no-repeat;
  z-index: 5;
}
#clock{
  background-image: url(../img/clock.png);
  background-color: #000;
  width: 460px;
  height: 260px;
  background-repeat: no-repeat;
  background-position: center center;
  z-index: 4;
}
#wiki{
  background-image: url(../img/wiki.png);
  background-color: #000;
  background-repeat: no-repeat;
  background-position: center center;
  width: 460px;
  height: 260px;
  z-index: 3;
}
#random{
  background-image: url(../img/code.jpeg);
  background-color: #000;
  background-repeat: no-repeat;
  background-position: center center;
  width: 460px;
  height: 260px;
  z-index: 2;
}
#imac{
  background-image: url(../img/imac.jpg);
  height: 418px;
  width: 500px;
}
#trigger2{
  top:200px;
  position: relative;
  bottom: 0;
}
.resume {
  background-color: $ResumeBG;
  text-align: center;
  a{
    color: #fff;
    padding: 2% 42%;
    text-decoration: none;
    display: inline-block;
    overflow-x: hidden;
  }
}
.resume:hover{
    background-color: $ResumeHover;
}
.bottom{
  color: #fff;
  background-color: #333;
  width: 100%;
  p{font-size: 16px; float: left;}
  li{display: inline-block;}
}
.skills{
  position: relative;
  height: 300px;
  z-index: 100;
  .skill_section{
    background-color: #FFF;
    float: left;
    height: 340px;
    width: 33.333333%;
    p{
      padding: 20px 35px;
      line-height: 30px;
      font-size: 20px;
    }
    h2{padding-top: 20px;}
    i{padding-top: 20px;}
  }
  #mid{background-color: #DFDFDF}
}
hr{
  border: 0;
  height: 1px;
  background: #333;
  background-image: linear-gradient(to right, #ccc, #333, #ccc);
  max-width: 50%;
  margin: 10px auto;
}
.aboutMe{
  background-image: url(../img/views.jpg);
  background-size: cover;
  background-position: center;
  color: #fff;
  padding: 50px;
  position: relative;
  z-index: 100;
}
footer{
  z-index: 100;
  background-color: #333;
  color: #fff;
  overflow: auto;
  .footerLeft{
    width:50%;
    p{float: left; padding:15px 10px;}
  }
  ul.connect{
    margin-left: 50%;
    list-style: none;
    display:inline-block;
    text-align: center;
    float: right;
    li{
      display: inline-block;
      padding: 10px;
      i{color: $icon;}
      i:hover{color: $ResumeHover;}
    }
  }
}
.break{
  background: url(../img/code.jpeg);
  background-size: cover;
  background-position: center;
  .fa{
    color: $icon;
    background-color: $iconBG;
    border-color: $iconBG;
    @include border-radius(15%);
    padding: 10px;
    margin: 10px;
  }
}
.col{
  float: left;
  margin: 40px 40px;
  padding: 35px;
  p{
    color: #fff;
    position: fixed;
    left: 0;
  }
}
.leftCol{
  width: 50%;
  float: left;
}
.rightCol{
  margin-left: 50%;
}
.description{
  padding: 50px 75px;
  h3{font-size: 36px;text-align: center;margin: 30px auto;z-index: 9999;}
  p{font-size: 20px; line-height: 25px; text-align: center;}
}
#phone{
  img{width: 30%;margin-left: 10%;}
}

/* Mobile */
@media screen and (max-width: 480px) {
  h1{
    line-height: 50px;
    font-size: 40px;
    margin: 0;
    padding: 150px 0px 10px 0px;
  }
  .intro h2{font-size:18px;}
  .menu-expanded {
    transition: all .25s;
    text-align: center;
    line-height: 100px;
    height: 100%;
    width: 100%;
    border-radius: 0px;
    margin-top: 0;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.85);
    ul {
      transition: all 0s;
      position: relative;
      left: 0;
      z-index: 2;
      padding: 0;
      li{
        list-style-type: none !important;
      }
    }
    ul:-webkit-any-link{
        list-style-type: none !important;
      }
    a {
      transition: all .15s;
      text-decoration: none;
      font-size: 2em;
      padding: 5px;
      color: #fff;
      &:hover {
        transition: all .15s;
        letter-spacing: 2px;
        border: 1px solid rgba(255, 255, 255, .15);
      }
    }
  }
  .description{
    padding: 0;
    h3{font-size: 16px; margin: 10px 0px 0px 0px;}
    p{font-size: 10px; line-height: 15px;text-align: center; padding: 5px 0px;}
  }
  #phone img{
    width: 30%;
    padding:15% 25%;
  }
  .skills{
    .skill_section{
      width: 100%;
      float: none;
      margin: 0;
      padding: 0px;
    }
  }
  .col{
    margin: 15px 0px;
    padding: 0;
    width: 33%;
    p{
      font-size: 16px;
    }
  }
  .break{
    position: relative;
    top: 145%;
    width: 100%;
    height: 25%;
    .fa-5x{font-size: 16px;}
  }
  .row{width: 100%;}
  footer{
    bottom: -145%;
    position: relative;
    ul.connect{
      margin: 0px;
    }
  }
  .resume a{width: 100%; padding: 15px 0px;}
}

@media screen and (max-width: 321px) {
  h1{line-height: 30px;font-size:35px;}
  .intro{
    height: 110%;
    width: 100%;
    h2{font-size:16px;}
  }
  .skills .skill_section{
    font-size: 10px;
  }
  .break{top:190%;position:relative;}
  .col p{font-size: 12px;}
  footer{bottom: -190%;}
  .description h3{font-size: 14px;}
  .resume a{width: 100%; padding: 15px 0px;}
}

@media screen and (max-width: 361px){
  .skills .skill_section{font-size: 10px;}
  .resume a{width: 100%;padding: 15px 0px}
}