@import url(http://fonts.googleapis.com/css?family=Quicksand);
/* Variables */
$iconBG: #343434;
$icon: #DFDFDF;

/* Mixins */
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}
*{
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
  font-family: 'Quicksand', sans-serif;
  color: #000;
}
body{
  margin: 0;
  padding: 0;
}
.container{
  width: 80%;
  margin: 0 auto;
}
.text-center{text-align: center;}
.text-left{text-align: left;}
.text-right{text-align: right;}
.b-a {
  transition: all .25s;
  content: "";
  position: absolute;
  right: 0;
  height: 2px;
  width: 30px;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.95);
}
.menu-collapsed {
  transition: all .25s;
  position: fixed;
  margin-top: 0;
  top: 10px;
  right: 9px;
  height: 36px;
  width: 36px;
  z-index: 1;
  cursor: pointer;
  ul {
    transition: all 0s;
    position: fixed;
    left: -9000px;
  }
}
.bar {
  @extend .b-a;
  position: fixed;
  right: 12px;
  top: 24px;
  &:before {
    @extend .b-a;
    top: -8px;
  }
  &:after {
    @extend .b-a;
    top: 8px;
  }
}
.b-a-expanded {
  transition: all .25s;
  top: -0px;
}
.menu-expanded {
  transition: all .25s;
  text-align: center;
  line-height: 200px;
  height: 100%;
  width: 100%;
  border-radius: 0px;
  margin-top: 0;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.85);
  ul {
    transition: all 0s;
    position: relative;
    left: 0;
    z-index: 2;
    li{
      list-style-type: none !important;
    }
  }
  ul:-webkit-any-link{
      list-style-type: none !important;
    }
  a {
    transition: all .15s;
    text-decoration: none;
    font-size: 2em;
    padding: 5px;
    color: #fff;
    &:hover {
      transition: all .15s;
      letter-spacing: 2px;
      border: 1px solid rgba(255, 255, 255, .15);
    }
  }
  .bar {
    background-color: transparent;
    transition: all .25s;
    &:before {
      @extend .b-a-expanded;
      transform: rotate(45deg);
    }
    &:after {
      @extend .b-a-expanded;
      transform: rotate(-45deg);
    }
  }
}
h1 {
  font-size: 3em;
  text-align: center;
  line-height: 250px;
}
p {
  line-height: 20px;
}
.bold{
  font-weight: 1000;
}
.row{
  display: inline-block;
}
.intro{
  background: url(../img/laptop.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  color: #fff;
}
.title{
  font-size: 50px;
  line-height: 50px;
  padding: 10px;
}
.slide{
  background-color: #4C6663;
  width: 100%;
  height: 61%;
}
.portfolio{
  background-color: #fff;
  color: #000;
}
.bottom{
  color: #fff;
  background-color: #333;
  width: 100%;
  p{font-size: 16px; float: left;}
  li{display: inline-block;}
}
.skills{
  position: relative;
  height: 300px;
  .skill_section{
    background-color: #FFF;
    float: left;
    height: 340px;
    width: 33.333333%;
    p{
      padding: 20px 35px;
      line-height: 30px;
      font-size: 20px;
    }
    h2{padding-top: 20px;}
    i{padding-top: 20px;}
  }
  #mid{background-color: #DFDFDF}
}
hr{
  border: 0;
  height: 1px;
  background: #333;
  background-image: linear-gradient(to right, #ccc, #333, #ccc);
  max-width: 50%;
  margin: 10px auto;
}
.aboutMe{
  background-image: url(../img/views.jpg);
  background-size: cover;
  background-position: center;
  color: #fff;
  padding: 50px;
}
footer{
  .connect{
  list-style: none;
  background-color: #333;
  li{
    display: inline-block;
    margin: 10px;
    padding-bottom: 10px;
  }
}
}
.break{
  background: url(../img/code.jpeg);
  background-size: cover;
  background-position: center;
  .fa{
    color: $icon;
    background-color: $iconBG;
    border-color: $iconBG;
    @include border-radius(15%);
    padding: 10px;
    margin: 10px;
  }
}
.col{
  float: left;
  margin: 40px 40px;
  padding: 35px;
  p{
    color: #fff;
    position: fixed;
    left: 0;
  }
}
.panel {
  height: 100%;
  width: 100%;
}
.blue{background-color: blue;z-index: -5}
.turqoise{background-color: red;z-index: -4}
.green{background-color: green;z-index: -3}
.bordeaux{background-color:orange;z-index: -2}

/* Mobile */
@media screen and (max-width: 480px) {
  h1{
    line-height: 50px;
    font-size: 30px;
    margin: 0;
    padding: 150px 0px 0px 0px;
  }
  .menu-expanded {
    transition: all .25s;
    text-align: center;
    line-height: 100px;
    height: 100%;
    width: 100%;
    border-radius: 0px;
    margin-top: 0;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.85);
    ul {
      transition: all 0s;
      position: relative;
      left: 0;
      z-index: 2;
      padding: 0;
      li{
        list-style-type: none !important;
      }
    }
    ul:-webkit-any-link{
        list-style-type: none !important;
      }
    a {
      transition: all .15s;
      text-decoration: none;
      font-size: 2em;
      padding: 5px;
      color: #fff;
      &:hover {
        transition: all .15s;
        letter-spacing: 2px;
        border: 1px solid rgba(255, 255, 255, .15);
      }
    }
  }
}